.about-gym {
  position: relative;
  background-color: $color-ghost-white;
}

.about-gym__wrapper {
  display: grid;
  grid-template-columns: 420px 1fr;
  width: 100%;
  padding: 120px 103px 235px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    padding: 100px 45px;
  }

  @include vp-767 {
    padding: 66px 0 70px;
    gap: 32px;
  }
}

.about-gym__content {
  display: flex;
  flex-direction: column;
  margin-left: 60px;


  @include vp-1199 {
    padding: 0 50px 34px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  @include vp-767 {
    text-align: left;
    padding: 0 15px;
    // width: fit-content;
    // border: 2px solid red;
  }

  & h2 {
    font-family: $ff-title;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    align-items: left;
    letter-spacing: 0.03em;
    color: $color-sapphir;
    margin: 0;
    margin-top: 38px;
    margin-bottom: 7px;

    @include vp-1199 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 42px;
      line-height: 50px;
      text-align: center;
      margin-right: 18px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin: 0 0 5px;
      text-align: left;
    }
  }

  & b {
    font-family: $ff-default;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $color-sapphir;
    margin-bottom: 40px;

    @include vp-1199 {
      margin-bottom: 35px;
    }

    @include vp-767 {
      margin-bottom: 25px;
    }
  }

  & p {
    font-family: $ff-default;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $color-sapphir;
    margin: 0;
    margin-bottom: 8px;

    @include vp-767 {
      margin: 0 35px 0 0;
    }
  }
}

.about-gym__content p:last-of-type {
  @include vp-1199 {
    display: none;
  }
}

.about-gym__image-wrapper {
  position: relative;
  margin-left: auto;

  @include vp-1199 {
    margin-left: 0;
    margin-bottom: 83px;
  }

  @include vp-767 {
    width: 100vw;
    aspect-ratio: 320 / 313;
    margin: 0 auto 8px;
  }
}

.about-gym__image {
  @include vp-767 {
    width: 100%;
    position: relative;
  }

  & img {
    object-fit: cover;

    @include vp-1199 {
      width: 100%;
    }

    @include vp-767 {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
