.footer {
  background-color: $color-black-russian;
}

.footer__wrapper {
  padding: 34px 103px 32px;
  display: grid;
  grid-template-columns: 1fr 20%;
  min-height: 25px;

  @include vp-1199 {
    padding: 36px 39px 36px 45px;
    grid-template-columns: 1fr 15%;
  }

  @include vp-767 {
    padding: 40px 15px 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo {
  width: 90px;
  height: 34px;
  padding-top: 6px;
  display: block;

  @include hover-focus {
    .footer__logo-image {
      opacity: 0.8;
    }
  }

  @include active {
    .footer__logo-image {
      opacity: 0.3;
    }
  }

  @include vp-1199 {
    padding-top: 0;
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    padding: 0;
    width: 68px;
    height: 15px;
    margin-top: 10px;
    margin-bottom: 16px;
  }
}

.footer__logo-image {
  fill: $color-default-white;
  stroke: $color-default-white;
  width: 86px;
  height: 30px;

  @include vp-1199 {
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}

.footer__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 29.7%;
  width: 100%;

  @include vp-1199 {
    gap: 11%;
  }

  @include vp-767 {
    display: block;
    column-count: 2;
    column-gap: 30px;
    max-width: 500px;
    margin-bottom: 4px;
  }
}

.footer__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
    width: 100%;
    padding: 0 0 14px;
  }
}

.footer__item {
  @include vp-767 {
    width: 100%;
  }
}

.footer__link {
  display: inline-block;
  font-family: $ff-default;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  cursor: pointer;

  @include hover-focus {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.3;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 19px;
    padding: 8px 0 13px;
    margin-bottom: 0;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 11px;
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  min-height: 26px;
  min-width: 97px;

  @include vp-767 {
    justify-content: flex-start;
  }
}

.footer__social-item {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-default-white;
  position: relative;
}

.footer__social-link {
  width: 25px;
  height: 25px;
  display: block;

  @include hover-focus {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.3;
  }
}

.footer__social-icon {
  fill: $color-black-russian;
  position: absolute;
}

.footer__social-icon--vk {
  top: 9px;
  left: 6px;
}

.footer__social-icon--ok {
  top: 4px;
  left: 8px;
}

.footer__social-icon--reddit {
  top: 5px;
  left: 5px;
}
