.footer {
  background-color: $color-black-russian;
}

.footer__wrapper {
  padding: 34px 103px 32px;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  min-height: 25px;

  @include vp-1199 {
    padding: 36px 39px 36px 45px;
    grid-template-columns: 14% 1fr 15%;
  }

  @include vp-767 {
    padding: 50px 15px 52px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 4;
    // grid-template-areas:
    //  "logo menu"
    //  "menu menu"
    //  "social social";
  }
}

.footer__logo {
  width: 90px;
  height: 34px;
  padding-top: 8px;
  // display: block;

  @include vp-1199 {
    padding-top: 8px;
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    padding: 0;
    width: 68px;
    height: 15px;
    margin-bottom: 30px;
  }
}

.footer__logo-image {
  fill: $color-default-white;
  stroke: $color-default-white;
  width: 88px;
  height: 32px;

  @include vp-1199 {
    width: 82px;
    height: 18px;
  }
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    // flex-direction: column;
    // justify-content: left;
    // grid-template-columns: 1 / 3;
  }
}

.footer__link {
  font-family: $ff-default;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 11px;
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  min-height: 26px;
  min-width: 97px;
  // max-width: 194px;

  @include vp-767 {
    justify-content: flex-start;
  }
}

.footer__social-item {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-default-white;
  position: relative;
}

.footer__social-link {
  width: 25px;
  height: 25px;
  display: block;
}

.footer__social-icon {
  fill: $color-black-russian;
  position: absolute;
}

.footer__social-icon--vk {
  top: 9px;
  left: 6px;
}

.footer__social-icon--ok {
  top: 4px;
  left: 8px;
}

.footer__social-icon--reddit {
  top: 5px;
  left: 5px;
}
