.form {
  background-color: $color-sapphir;
  width: 100%;

  & form {
    width: 100%;
    height: auto;

    input[type="text"],
    input[type="tel"] {
      width: 100%;
      margin: 0;
      border: none;
      border-bottom: 1px solid $color-light-slate-grey;
      color: transparent;
      text-shadow: 0 0 0 $color-default-white;
      background-color: $color-sapphir;
      font-family: $ff-default;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      padding: 7px 0;

      @include hover-focus {
        background-color: $color-sapphir-light;
      }

      &::placeholder {
        color: $color-default-white;
      }
    }

    .input-message {
      font-family: inherit;
      color: $color-default-white;
      font-size: smaller;
    }
  }
}

.form__wrapper {
  padding: 56px 170px 66px 103px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    padding: 62px 160px 70px 133px;
  }

  @include vp-767 {
    padding: 65px 15px 70px;
  }

  & h2 {
    font-family: $ff-title;
    font-weight: 800;
    font-size: 54px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: $color-default-white;
    margin: 0;
    margin-bottom: 15px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 30px;
    }

    @include vp-767 {
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.form__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include vp-1199 {
    column-gap: 60px;
    row-gap: 28px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    width: 100%;
    column-gap: 0;
    row-gap: 30px;
  }
}

.form__button {
  grid-column: 1 / 3;
  padding: 16px 0;
  font-weight: 700;
  font-family: $ff-default;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: $color-sapphir;
  border: 3px solid $color-default-white;

  @include vp-767 {
    grid-column: 1 / 2;
    margin-top: 8px;
    width: 100%;
  }
}
