.membership {
  background-color: $color-ghost-white;
  position: relative;
}

.membership__wrapper::after {
  content: "";
  width: 288px;
  height: 430px;
  background-image: url("../../img/weigth-desktop.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -86px;


  @include vp-1199 {
    background-image: url("../../img/weigth-tablet.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 347px;
    height: 400px;
    right: 0;
    bottom: -30px;
  }

  @include vp-767 {
    display: none;
  }
}

.membership__wrapper {
  display: flex;
  flex-direction: column;
  padding: 120px 0;

  @include vp-1199 {
    padding: 100px 118px 150px;
  }

  @include vp-767 {
    padding: 65px 0;
  }

  & h2 {
    font-family: $ff-title;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: $color-sapphir;
    margin: 0;
    margin-bottom: 6px;
    text-align: center;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin-left: -11px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin-left: -10px;
    }
  }
}

.membership__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);

  @include vp-1199 {
    grid-template-columns: 1fr;
    align-self: center;
  }

  @include vp-767 {
    gap: 35px;
    max-width: 400px;
  }
}

.membership__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 57px 50px 59px;
  width: 100%;
  min-height: 448px;
  background-color: $color-default-white;
  border: 7px solid transparent;
  box-sizing: border-box;

  @include vp-767 {
    max-width: 400px;
    width: 100%;
    min-height: 384px;
    aspect-ratio: 290 / 384;
    padding: 43px 0 48px;
    align-items: center;
  }

  & dl {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  & dd {
    margin: 0;
    text-align: center;
    font-family: $ff-default;
  }

  & dd:first-of-type {
    font-family: $ff-default;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    color: $color-sapphir;
    margin-bottom: 10px;

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
    }
  }

  & dd:last-of-type {
    font-family: $ff-default;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $color-egyptian-blue;
    margin-top: 65px;
    position: relative;
    z-index: 1;

    @include vp-1199 {
      margin-left: 5px;
    }

    @include vp-767 {
      font-size: 48px;
      line-height: 72px;
      margin-top: 55px;
    }

    &::before {
      content: attr(data-price-shadow);
      position: absolute;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $ff-default;
      font-weight: 700;
      font-size: 100px;
      line-height: 150px;
      color: $color-whisper;
      opacity: 0.48;
      z-index: -1;
      display: block;
      width: auto;

      @include vp-767 {
        font-size: 80px;
        line-height: 120px;
      }
    }

    &::after {
      content: "";
      display: inline-block;
      width: 30px;
      height: 42px;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='42' viewBox='0 0 30 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5 6H10v11h8.5a5.5 5.5 0 1 0 0-11ZM4 0v23h14.5C24.851 23 30 17.851 30 11.5S24.851 0 18.5 0H4Z' fill='%23102654'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 17h6v6H0v-6Z' fill='%23102654'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.659 28.321V18h6v10.321H21v6H9.659V42h-6v-7.679H0v-6h3.659Z' fill='%23102654'/%3E%3C/svg%3E");
      margin-left: 15px;
      background-size: contain;

      @include vp-767 {
        width: 24px;
        height: 33px;
        margin-left: 10px;
      }
    }
  }

  @include hover {
    border: 7px solid $color-smalt;
    border-image: linear-gradient(to top left, $color-smalt, $color-crimson);
    border-image-slice: 1;

    .membership__button {
      padding: 26px 20px 26px;
      color: $color-default-white;
      border: none;
      background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt-secodary 95.31%);
    }
  }
}

.membership__button {
  min-width: 206px;
  font-family: $ff-default;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $color-sapphir;
  background-color: $color-default-white;
  border: 2px solid $color-sapphir;
  align-self: center;
  padding: 24px 20px;

  @include vp-767 {
    padding: 23px 20px;
  }

  // & .is-active {
  //   color: $color-default-white;
  //   border: none;
  //   background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt-secodary 95.31%);
  // }

  @include hover {
    // color: $color-default-white;
    // border: none;
    // background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt-secodary 95.31%);
    // box-shadow: 0 0 0 0 $color-sapphir;
  }
}
