.reviews {
  width: 100%;
  background-color: $color-ghost-white;
}

.reviews__wrapper {
  padding: 17px 0 120px;

  @include vp-1199 {
    padding: 0 0 100px;
  }

  @include vp-767 {
    padding: 0 0 70px;
  }

  & h2 {
    font-family: $ff-title;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: $color-sapphir;
    margin: 0;
    margin-left: 4px;
    margin-bottom: 36px;
    text-align: center;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 40px;
      margin-left: 0;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.reviews__slider-container {
  width: 100%;
  position: relative;
  padding: 0 58px;

  @include vp-1199 {
    padding: 0 56px;
  }

  @include vp-767 {
    padding: 0 32px;
    max-width: 380px;
    margin: 0 auto;
  }
}

.reviews__slider {
  max-width: 560px;

  @include vp-1199 {
    max-width: 566px;
  }

  @include vp-767 {
    max-width: 380px;
  }
}

.reviews__slider-wrapper {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.reviews__slide {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 242px;
  aspect-ratio: 560 / 242;

  @include vp-1199 {
    aspect-ratio: 566 / 242;
  }

  @include vp-767 {
    min-height: 335px;
    aspect-ratio: 226 / 335;
  }
}

.reviews__card {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $color-resolution-blue;
  box-shadow: 0px 0px 40px rgba($color-resolution-blue, 0.2);
}

.reviews__content {
  padding: 56px 62px 62px 170px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;

  @include vp-1199 {
    padding: 56px 65px 56px 173px;
  }

  @include vp-767 {
    padding: 50px 25px 25px;
    max-width: 380px;
    align-items: center;
    // gap: 22px;
  }

  & h3 {
    font-family: $ff-default;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: $color-default-white;
    text-align: left;
    margin: 0;

    @include vp-767 {
      // padding: 40px 25px;
      line-height: 26px;
      margin-left: 50%;
      margin-bottom: 12px;
      // max-width: 45%;
      max-width: 65px;
    }
  }

  & p {
    font-family: $ff-default;;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;
    text-align: left;
    margin: 0;
    min-width: 328px;

    @include vp-767 {
      text-align: center;
      max-width: 236px;
    }
  }
}

.reviews__image {
  position: absolute;
  top: 62px;
  left: 62px;
  width: 80px;
  height: 80px;
  margin: 0;

  @include vp-767 {
    width: 68px;
    height: 68px;
    top: 40px;
    left: 41px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.reviews__button {
  position: absolute;
  transform: translate(-50%);
  z-index: 50;
  display: block;
  width: 22px;
  height: 44px;
  padding: 0 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    width: 18px;
    height: 34px;
    fill: none;

    @include vp-767 {
      width: 10px;
      height: 19px;
    }
  }

  &--prev {
    top: 51.5%;
    left: 250px;

    @include vp-1199 {
      left: 5px;
    }
  }

  &--next {
    top: 49.5%;
    right: 237px;
    transform: rotate(180deg);

    @include vp-1199 {
      right: -5px;
    }
  }

  &::after {
    display: none;
  }
}
