.section__wrapper {
  width: 100%;
  background-color: $color-ghost-white;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
