.video {
  width: 364px;
  height: 228px;
  position: absolute;
  top: 408px;
  left: 540px;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // transform: translateX(-50%);

  & iframe {
    border: none;

    @include vp-1199 {
      width: 100%;
      height: 100%;
    }
  }

  @include vp-1199 {
    position: absolute;
    top: 587px;
    left: 50%;
    transform: translateX(-50%);
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    // top: 668px;
    // left: 50%;
    // transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    aspect-ratio: 320 / 167;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
  }
}

.video__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 2;
  display: block;
  aspect-ratio: 320 / 167;

  & img {
    // display: block;
    width: 100%;
    height: 100%;

    @include vp-767 {
      position: relative;
    }
  }
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  z-index: 3;

  &::before {
    content: "";
    background-image: url("../img/video-toggle.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-size: contain;

    @include vp-1199 {
      width: 73px;
      height: 73px;
    }
  }
}
