// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-sapphir:                     #102654; //text
$color-sapphir-middle:              rgba(16, 38, 84, 0.89); //bg coach card
$color-sapphir-light:               rgba(16, 38, 84, 0.5);
$color-egyptian-blue:               #103aae;
$color-dark-cerulean:               #003d85; //bg header gradient
$color-venetian-red:                #b80027; //bg header gradient
$color-ghost-white:                 #f8f9fc; //bg membership
$color-crimson:                     #d10a42; //frame/button/adv gradient
$color-smalt:                       #00359f; //frame/button gradient
$color-cobalt:                      #0041ca; // adv gradient
$color-torch-red:                   #ed0233; //supergames, promotion
$color-resolution-blue:             #1c3374; //advantages, review
$color-persian-blue:                #2e35ac; // adv letters
$color-black-russian:               #030a1a; // bg footer




$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-default:                        "Roboto Condensed", "Arial", sans-serif;
$ff-title:                          "Alumni Sans", "Arial", sans-serif;

$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1200:                           1200px;


// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
